
<p>Title:</p>
<%= text_field(:advice, :title) %>
<p>Tip:</p>
<%= text_field(:advice, :tip) %>
<p>Category of advice:</p>
<%= select_tag(:subject, options_for_select([['Safety', 1], ['Resources', 2]])) %>




