<footer role="banner" class="app-header">
  <footer class="footer navbar-fixed-bottom">
      <div class="container">
          <nav>
              <ul id=menu>
                <li><a <strong><%= link_to 'Contact Us', "/contacts/new" %></strong></a></li>
                <li><a <strong><%= link_to 'Terms of Use', "#" %></strong></a></li>
                <li><a <strong><%= link_to 'Privacy Policy', "#" %></strong></a></li>
                </ul>
          </nav>
      </div>
  </footer>
      
    