<footer role="banner" class="app-footer">
  <span class="footer_nav">
  <footer class="footer navbar-fixed-bottom">
      <div class="container">
        <center>
          <nav>
              <div id="desktopfooter">
                <a <strong><%= link_to 'Contact Us', "/contacts/new" %></strong></a> •
                <a <strong><%= link_to 'Terms of Use', "/terms" %></strong></a> •
                <a <strong><%= link_to 'Privacy Policy', "/privacy" %></strong></a>
                </div>
                <!--<p style="font-size: 75%;">© 2018 Extinguish LLC</p>-->
          </nav>
          </center>
      </div>
  </footer>
  </span>