<footer role="banner" class="app-footer">
  <span class="footer_nav">
  <footer class="footer navbar-fixed-bottom">
      <div class="container">
          <nav>
              <div id="desktopfooter"><center>
                <a <strong><%= link_to 'Contact Us', "/contacts/new" %></strong></a> |
                <a <strong><%= link_to 'Terms of Use', "/terms" %></strong></a> |
                <a <strong><%= link_to 'Privacy Policy', "/privacy" %></strong></a>
                </center>
                </div>
          </nav>
      </div>
  </footer>
  </span>
      
    