<h1><center>Users Must Sign In To Access Forum</center></h1>

 <p>This is our site, this is why you have to make an account, this is why we are very secure</p>
 
<p>Member Discussion:
  <b><%= link_to t('nav.forums'), thredded.root_path %></b>.
</p>


<p>Helpful Resources:<a href=""><strong><%= link_to "About", "/about" %></strong</a></p>


<!--
<% unless Rails.env.production? %>

  <p>Temporary Login Information:</p>

  <ul>
    <li>
      <p>Edit this page at <code>app/views/home/show.html.erb</code>.</p>
    </li>
  </ul>
<<<<<<< HEAD
  
  
<%= form_tag do %>
  Form contents
<% end %>

=======
  -->
  
 
  
 
  
  <!--
  <ul>
    <li>
      <p><a href="https://ncadv.org/learn-more"><strong>National Coalition Against Domestic Violence defintion of abuse</strong></a></p>
    </li>
    <li>
      <p><a href="https://www.helpguide.org/articles/abuse/getting-out-of-an-abusive-relationship.htm"><strong>Helpguide.org tips to get out of an abusive relationship</strong></a></p>
    </li>
    <li>
      <p><a href="https://nnedv.org/"></a><strong>National Network to End Domestic Violence</strong></p>
    </li>
    <li>
      <p><a href="http://www.womenslaw.org/">Women's Law legal help</a></p>
    </li>
    <li>
      <p>The U.S. National Domestic Violence Hotline:</p>
        <ul>
          <li>
            <p>1-800-799-7233</p>
          </li>
          <li>
            <p>TTY: 1-800-787-3224</p>
          </li>
        </ul>
    </li>
    <li>
      <p><strong>If you feel you are in immediate danger call 911</strong></p>
    </li>
  </ul>
  
  <p></p>
-->
>>>>>>> static-page
<% end %>


