<h1>Welcome to Crrnt</h1>

<p>Share your story 
  <b><%= link_to 'here', thredded.root_path %></b>.
</p>

<% unless Rails.env.production? %>
  <p>You must log in or sign up to access our forums. You can do that 
  <%= link_to 'here', new_user_session_path %></b>.</p>
  <ul>
    <li>
      <p>Edit this page at <code>app/views/home/show.html.erb</code>.</p>
    </li>
  </ul>

<% end %>
