<body>

<center>
    <img src=<%= asset_path('Logo_1.png') %> alt="logo" style="width:100%;">
    <!--<h1>Users Must Sign In To Access Forum</h1>-->
</center>
<div class=home-description>
<h2>What is Extinguish?</h2>
<p>Extinguish is a support network committed to ending domestic violence by putting out gaslights one case at a time. We do this with the help of our growing community of users whose combined experience provide anonymous support.</p>
<h2>What is gaslighting?</h2>
<p>Gaslighting is the process of manipulating someone via psychological means with the intent of making them question their own sanity.</p>
<h2>Where do I begin?</h2>
<p>In order to maximize security, you must create an account to access our forums. We do not ask for any personal information so you must remember your username and password. We want our site to be absolutely secure, so no email recovery option is available.</p>
   <h2>How to Use Our Forum</h2>
<p>Each post and comment you make will be anonymized. To start, first log in/sign up and navigate to our "Forum" page located at the top of every page. Once there, choose the topic that most fits your situation and click on it. Then you can create a new post. To read through other posts, navigate to the topic and click the posts to view them. To comment, press the "Comment" button and write a response.</p>
    <p>To quickly exit Extinguish at any time press 'ctrl+x' on your keyboard and you will be redirected to Reddit.com.</p>
</div>
<center>
    <div id=homebutton>
    <%= button_to "Sign Up Now", "/users/sign_up", :method => "get" %>
    </div>
</center>
<style>
    .home-description {
    /*box-shadow: 2.5px 2.5px 1px rgba(0,0,0,0.25);*/
    /*padding: 2rem;*/
    /*border: 1px solid #969698;*/
    text-align: center;
    font-size: 120%;
    /*font-weight: bold;*/
    color: $banner-color;
    h2 {
        font-weight: bold;
        color: green;
        }
    }
</style>



</body>
