<h1><center>Users Must Sign In To Access Forum</center></h1>

<p>Member Discussion:
  <b><%= link_to t('nav.forums'), thredded.root_path %></b>.
</p>

<% unless Rails.env.production? %>
  <p>Temporary Login Information:</p>

  <ul>
    <li>
      <p>Edit this page at <code>app/views/home/show.html.erb</code>.</p>
    </li>
  </ul>
  
  
<%= form_tag do %>
  Form contents
<% end %>

<% end %>


