<h1><center>Helpful Resources</center></h1>
<center><strong>IF YOU FEEL YOU ARE IN IMMEDIATE DANGER CALL 911</strong></center>

<ul>
    <li>
      <p><a href="https://ncadv.org/learn-more"><strong>National Coalition Against Domestic Violence defintion of abuse</strong></a></p>
    </li>
    <li>
      <p><a href="https://www.helpguide.org/articles/abuse/getting-out-of-an-abusive-relationship.htm"><strong>Helpguide.org tips to get out of an abusive relationship</strong></a></p>
    </li>
    <li>
      <p><a href="https://nnedv.org/"><strong>National Network to End Domestic Violence</strong></a></p>
    </li>
    <li>
      <p><a href="http://www.womenslaw.org/"><strong>Women's Law legal help</strong></a></p>
    </li>
    <li>
      <p><strong>The U.S. National Domestic Violence Hotline:</strong></p>
        <ul>
          <li>
            <p>1-800-799-7233</p>
          </li>
          <li>
            <p>TTY: 1-800-787-3224</p>
          </li>
        </ul>
    </li>
  </ul>