<h1><center>Helpful Resources</center></h1>
<center><h2>IF YOU FEEL YOU ARE IN IMMEDIATE DANGER CALL 911</h2></center>

<ul>
    <li>
<<<<<<< HEAD
      <p><a href="https://ncadv.org/learn-more"><strong>National Coalition Against Domestic Violence: Defintion of Abuse</strong></a></p>
    </li>
    <li>
      <p><a href="https://www.helpguide.org/articles/abuse/getting-out-of-an-abusive-relationship.htm"><strong>Tips to Get Out of an Abusive Relationship</strong></a></p>
=======
      <p><a href="https://ncadv.org/learn-more">National Coalition Against Domestic Violence defintion of abuse</a></p>
    </li>
    <li>
      <p><a href="https://www.helpguide.org/articles/abuse/getting-out-of-an-abusive-relationship.htm">Helpguide.org tips to get out of an abusive relationship</h2></a></p>
>>>>>>> haiku-names
    </li>
    <li>
      <p><a href="https://nnedv.org/">National Network to End Domestic Violence</a></p>
    </li>
    <li>
      <p><a href="http://www.womenslaw.org/">Women's Law legal help</a></p>
    </li>
    <li>
      <p>The U.S. National Domestic Violence Hotline:</p>
        <ul>
          <li>
            <p>1 (800) 799-7233</p>
          </li>
          <li>
            <p>TTY: 1 (800) 787-3224</p>
          </li>
        </ul>
    </li>
  </ul>