<h1><center>Helpful Resources</center></h1>
<center><h2>IF YOU FEEL YOU ARE IN IMMEDIATE DANGER CALL 911</h2></center>

<ul>
    <li>
      <p><a href="https://ncadv.org/learn-more"><h2>National Coalition Against Domestic Violence defintion of abuse</h2></a></p>
    </li>
    <li>
      <p><a href="https://www.helpguide.org/articles/abuse/getting-out-of-an-abusive-relationship.htm"><h2>Helpguide.org tips to get out of an abusive relationship</h2></a></p>
    </li>
    <li>
      <p><a href="https://nnedv.org/"><h2>National Network to End Domestic Violence</h2></a></p>
    </li>
    <li>
      <p><a href="http://www.womenslaw.org/"><h2>Women's Law legal help</h2></a></p>
    </li>
    <li>
      <p><h2>The U.S. National Domestic Violence Hotline:</h2></p>
        <ul>
          <li>
            <p><h3>1 (800) 799-7233</h3></p>
          </li>
          <li>
            <p><h3>TTY: 1 (800) 787-3224</h3></p>
          </li>
        </ul>
    </li>
  </ul>