<h1><center style="padding: 0;">Resources</center></h1>
<center><h2 style= "color:black;">CALL 911 IF YOU ARE IN IMMEDIATE DANGER</h2></center>

<h3><a href="https://ncadv.org/learn-more">Link to Definition of Abuse According to the National Coalition Against Domestic Violence</a></h3>
<h2 style= "color:#232323" style = "opacity:0.5">The following links provide information about domestic abuse:</h2>
<ul>
    <li>
      <p><a href="https://www.helpguide.org/articles/abuse/getting-out-of-an-abusive-relationship.htm">Tips for Ending an Abusive Relationship</h2></a></p>
    </li>
    <li>
      <p><a href="https://nnedv.org/">National Network to End Domestic Violence</a></p>
    </li>
    <li>
      <p><a href="http://www.womenslaw.org/">Women's Legal Assistance</a></p>
    </li>
  </ul>
  <h2 style= "color:#232323">U.S. National Domestic Violence Hotline:</h2>
  <ul>
    <li>
      <p>The U.S. National Domestic Violence Hotline:</p>
        <ul>
          <li>
            <p style = "font-size:80%">1 (800) 799-7233</p>
          </li>
          <li>
            <p style = "font-size:80%">TTY: 1 (800) 787-3224</p>
          </li>
        </ul>
    </li>
  </ul>
