<% flash.now[:error] = "CALL 911 IF YOU ARE IN IMMEDIATE DANGER" %>
<div align="center">
<h1>Resources</h1>
<div class="resources">
</div>
<h2 style="text-align: left; color: black; font-weight: normal; font-style: italic;"><strong>"</strong>Domestic violence is the willful intimidation, physical assault, battery, sexual assault, and/or other abusive behavior 
as part of a systematic pattern of power and control perpetrated by one intimate partner against another. 
It includes physical violence, sexual violence, psychological violence, and emotional abuse.<strong>"</strong></h2>
<h3 style="text-align: right; font-style: italic;"><a href="https://ncadv.org/learn-more">-The Definition of Abuse According to the National Coalition Against Domestic Violence</a></h3>
</div>
<h2 style= "color:#232323" style = "opacity:0.5">The following links provide information about domestic abuse:</h2>
<ul>
    <li>
      <p><a href="https://www.helpguide.org/articles/abuse/getting-out-of-an-abusive-relationship.htm">Tips for Ending an Abusive Relationship</h2></a></p>
    </li>
    <li>
      <p><a href="https://nnedv.org/">National Network to End Domestic Violence</a></p>
    </li>
    <li>
      <p><a href="http://www.womenslaw.org/">Women's Legal Assistance</a></p>
    </li>
  </ul>
  <h2 style= "color:#232323">U.S. National Domestic Violence Hotline:</h2>
  <ul>
    <li>
      <p>The U.S. National Domestic Violence Hotline:</p>
        <ul>
          <li>
            <p style = "font-size:80%">1 (800) 799-7233</p>
          </li>
          <li>
            <p style = "font-size:80%">TTY: 1 (800) 787-3224</p>
          </li>
        </ul>
    </li>
  </ul>
