<h1>About Us</h1>

<p>We are a group dedicated to eradicating domestic violence. We beleive that no woman or man should ever be in a situation where their mental state is put as risk by their abusers.</p>

<p>We know that abuse, especially non physical abuse, is a slipperly slope of justifications and selective memory and that it is too easy to convince oneself or be convinced that it's all in your head.</p>

<p>Here at Extinguish you can share your story with people outside of the situation and get objective input on your story.</p>