<center>

<h1>About Extinguish</h1>

<p>Extinguish is an online community designed to support, inform, and assist victims of abuse.</p>

<p>Abuse is not always easy to recognize. Extinguish gives members the opportunity to share stories, ask questions, and hear about the experiences of others.</p>

<p>Our top priority is the safety of our users, and we encourage everyone to read our Terms of Use and Privacy Policy located at the bottom of the page.</p>


</center>