<div align="center">

<h1>About Extinguish</h1>

</div>

<p>Extinguish™ is an online community designed to support, inform, and assist victims of abuse.</p>

<p>Abuse is not always easy to recognize. Extinguish gives members the opportunity to share stories, ask questions, and hear about the experiences of others.</p>

<p>Our top priority is the safety of our users, and we encourage everyone to read our forum rules located at the bottom of the page and on each forum topic.</p>

<p>Here at Extinguish you can share your story with people outside of the situation and get objective input on your story.</p>

<div align="center">

<h1>Our Rules</h1>

</div>

<ol>
    <li>DO NOT identify yourself in any way</li>
    <li>If you suspect you know someone on the forum, DO NOT identify them in any way</li>
    <li>DO NOT use any information to find out real world facts about anyone on the forum</li>
    <li>Be kind, courteous, and respectful</li>
    <li>If any personally identifiable information (such as names, emails, phone numbers, etc.) is posted, it will be removed from the site as soon as possible.</li>
    <li>Any members that are disrespectful, inappropriate, or aggressive will be blocked.</li>
</ol>
<p><strong>If you do not follow these rules, you will be blocked</strong></p>

<style>
    p {
        font-size: 120%;
    }
</style>
