<div align="center">

<h1>About Extinguish</h1>

</div>

<p>Extinguish™ is an online community designed to support, inform, and assist victims of abuse.</p>

<p>Abuse is not always easy to recognize. Extinguish gives members the opportunity to share stories, ask questions, and hear about the experiences of others.</p>

<p>Our top priority is the safety of our users, and we encourage everyone to read our Terms of Use and Privacy Policy located at the bottom of the page.</p>

<p>Here at Extinguish you can share your story with people outside of the situation and get objective input on your story.</p>

<style>
    p {
        font-size: 120%;
    }
</style>
