<div align="center">
    <h1>Privacy Policy</h1>
    <p>Extinguish™ does not collect any personal information about our members.</p>
    <p>If any personally identifiable information (such as names, emails, phone numbers, etc.) is posted, it will be immediately removed from the site.</p>
    <p>Any members that are disrespectful, inappropriate, or aggressive will be blocked.</p>
    <p>We ask that anyone who contacts us submits a secure, and private email that will not be stored for later use.</p>
</div>

<style>
    p {
        font-size: 120%;
    }
</style>
