<div align="center">
<h1>Terms of Use</h1>
</div>
    <ol>
        <li>DO NOT identify yourself in any way</li>
        <li>If you suspect you know someone on the forum, DO NOT identify them in any way</li>
        <li>DO NOT use any information to find out real world facts about anyone on the forum</li>
        <li>Be kind, courteous, and respectful</li>
        <li>If you do not follow these rules, you will be blocked</li>
    </ol>
