.flash-message {
  // padding-top: 7.5rem;
  // margin-bottom: -6.5rem;
  transform: translate(0, 7rem);
  margin-bottom: 0;
  text-align: center;
  @extend %thredded--alert;
}

.flash-message--success {
  @extend %thredded--alert--success;
}

.flash-message--error {
  font-size: 115%;
  font-weight: bold;
  @extend %thredded--alert--danger;
  
}

.flash-message--notice {
  @extend %thredded--alert--info;
}

.flash-message--alert {
  @extend %thredded--alert--warning;
}
