@import "./header/theme_selector";


.app-header {
  font-size: 110%;
  z-index: 5;
  position: fixed;
  width: 100%;
  box-shadow: 0px 2.5px 1px rgba(0,0,0,0.25);
  .top-navbar {
    background-color: $banner-color;
    opacity: 1.0;
    transition: opacity 0.25s;
    a:hover {
      background: $menu-hover-color;
      color: $body-background-color;
    }
  }
  .bottom-navbar {
    background: $secondary-banner-color;
    height: 3.5rem;
    transition: height 0.25s;
    color: $body-background-color;
    a {
      color: $body-background-color;
      margin: 0 10px;
    }
    a:hover {
      color: $banner-color;
    }
    .mobile-menu-content {
      display: none;
    }
    .left-menu {
      position: absolute;
      height: 40px;
      width: 40%;
      right: 52%;
      z-index: 1;
      }
      .left-menu-content {
        position: absolute;
        right: 0;
      }
    .center-icon {
      position: absolute;
      height: 40px;
      width: 100%;
    }
    .center-icon-content {
      position: absolute;
      left: 50%;
      transform: translate(-50%, 15%);
      a {
        padding: 0;
        margin: 0;
      }
    }
    .icon {
      display: block;
      fill: $body-background-color;
      transition: all 0.15s ease-in-out;
    }
    .icon:hover {
      transform: scale(1.2);
      fill: $banner-color;
    }
    
    .right-menu {
      position: absolute;
      height: 40px;
      width: 40%;
      left: 52%;
      z-index: 1;
      }
    .right-menu-content {
      position: absolute;
      left: 0;
    }
      @include thredded-media-tablet { 
        vertical-align: center;
        .left-menu {
          display: none;
        }
        .center-icon {
          display: none;
        }
        .right-menu {
          display: none;
        }
        .mobile-menu {
          display: table;
          margin: 0 auto;
          font-size: 50%;
        }
        .mobile-menu-content {
          display: inline-block;
          .bottom-navbar {
            padding: 0;
            padding-top: 0%;
            margin: 0;
            background: none;
            .icon {
              transform: scale(0.9);
            }
            .icon:hover {
              transform: scale(0.9);
            }
          }
          ul {
            list-style: none;
            li {
              height: 36px;
              display: inline;
              padding:0 15px;
              vertical-align: top;
              text-align: center;
              a {
                padding: 0;
              }
              .caption {
                display: block;
              }
            }
          }
        }
      }
      @include thredded-media-mobile {
        vertical-align: center;
        .left-menu {
          display: none;
        }
        .center-icon {
          display: none;
        }
        .right-menu {
          display: none;
        }
        .mobile-menu {
          display: table;
          margin: 0 auto;
          font-size: 50%;
        }
        .mobile-menu-content {
          display: inline-block;
          .bottom-navbar {
            padding: 0;
            padding-top: 0%;
            margin: 0;
            background: none;
            .icon {
              transform: scale(0.9);
            }
            .icon:hover {
              transform: scale(0.9);
            }
          }
          ul {
            list-style: none;
            li {
              height: 36px;
              display: inline;
              //padding:0 1px;
              vertical-align: top;
              text-align: center;
              a {
                padding: 0;
              }
              .caption {
                display: block;
              }
            }
          }
        }
  }
    }
  a {
    display: inline-block;
    padding: 0.8rem 0.5rem;
  }
  #menuToggle{
    display: none;
  }
}
//the class the header switches to on scroll down
.app-header.shrink {
    .top-navbar {
      opacity: 0.8;
    }
    .bottom-navbar {
      height: 0px;
      .left-menu {
        display: none;
      }
      .center-icon {
        display: none;
      }
      .right-menu {
        display: none;
      }
      .mobile-menu {
        display: none;
      }
    }
  }
.app-nav-logo {
  color: $body-background-color;
  :hover {
    color: $brand-primary;
  }
}
.app-nav-auth {
 display: inline-block;
 position: fixed;
 top: 0;
 right: 0;

  @include thredded-media-mobile {
    font-size: 0;

    a {
      margin-left: 0.4rem;
      font-size: 1rem;
    }
  }
  margin-right: 1rem
}

//footer css
.app-footer {
  background: $banner-color;
  padding-bottom: 5rem;
  color: $body-background-color;
}

#desktopfooter {
  padding-top: 15px;
  a {
    display: inline-block;
  }
  
  
}
