html {
  height: 100%;
  background: $banner-color;
}
body {
  height: 100%;
  background: $banner-color;
}
.app-content-container{
  margin: auto;
  padding-top: 8rem;
  padding-bottom: 4rem;
  height: 100%;
  width:70%;
  @include thredded-media-tablet-and-up {
     //padding: 0 2rem 0.75rem 2rem;
  }
  @include thredded-media-mobile { 
    margin: auto;
    width: 90%;
  }
  center {
    font-size: 120%;
    padding: 20px;
  }
  li {
    font-size: 120%;
  }
  a:hover {
    color: $button-hover-background;
  }
  .thredded--button:hover {
    color: $body-background-color;
  }
}

.app-content-container .thredded-container{
  width: 100%;
  margin: 0;
  //max-width: ($grid-container-max-width + 4rem);
  //padding: 0 1.2rem 0.75rem 1.2rem;
  //margin: 5rem 5rem; 
  @include thredded-media-tablet-and-up {
     padding: 0 2rem 0.75rem 2rem;
  }
}

.thredded--topic-header--follow-info {
    display: none;
  }
  
.thredded--messageboard {
  //border-color: rgba(0,0,0,0);
  // box-shadow: none;
  transition: all .15s ease-in-out;
}

.thredded--messageboard:hover {
    //border-color: rgba(0,0,0,0);
    background-color: rgba(159,124,177,0.3);
    // box-shadow: 0 0 5px 2px $brand-primary;
}

.thredded--messageboard:active {
  //border-color: rgba(0,0,0,0);
}

.thredded--messageboard:focus {
  //border-color: rgba(0,0,0,0);
}

.app-header {
  margin: 0 auto;
  padding: 0 0rem 0rem 0rem;
}
.app {
  @include thredded--clearfix;
  -webkit-font-smoothing: antialiased;
  color: $text-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  margin: 0;
  height: 100%;
  
}

.app-container {
  background: $body-background-color;
}

.turbolinks-progress-bar {
  background-color: $brand-primary;
  height: 0.25rem;
}

.resources {
  center {
    padding:0;
  }
}
