html {
  height: 100%;
  background: $banner-color;
}
body {
  height: 100%;
  background: $banner-color;
}
.app-content-container{
  margin: auto;
  padding-top: 7rem;
  padding-bottom: 5rem;
  height: 100%;
  width:70%;
  // background-image: image-url('backgroundtile.png');
  // background-attachment: fixed;
  //background: rgba(0,0,0,0.25);
  
  @include thredded-media-tablet-and-up {
     //padding: 0 2rem 0.75rem 2rem;
  }
  @include thredded-media-mobile { 
    padding: 0.5rem auto;
    width: 100%;
    
  }
  center {
    font-size: 120%;
    padding: 20px;
  }
  li {
    font-size: 120%;
  }
  

}
.app-content-container .thredded-container{
  width: 100%;
  margin: 0;
  //max-width: ($grid-container-max-width + 4rem);
  //padding: 0 1.2rem 0.75rem 1.2rem;
  //margin: 5rem 5rem; 
  @include thredded-media-tablet-and-up {
     padding: 0 2rem 0.75rem 2rem;
  }
  
}
.app-header {
  margin: 0 auto;
  padding: 0 0rem 0rem 0rem;
}
.app {
  @include thredded--clearfix;
  -webkit-font-smoothing: antialiased;
  color: $text-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  margin: 0;
  
  @include thredded-media-mobile {
    
  }
  a:hover{
    color: $button-hover-background;
  }
  height: 100%;
  
}

.app-container {
  background: $body-background-color;
}

.turbolinks-progress-bar {
  background-color: $brand-primary;
  height: 0.25rem;
}
