@import "variables";
@import "thredded-variables";
@import "thredded";

.thredded--main-container {
  // The padding and max-width are handled by the app's container.
  max-width: none;
  padding: 0;
  @include thredded-media-tablet-and-up {
    padding: 0;
  }
}

.thredded--currently-online {
  display: none;
}

.thredded--post--avatar {
  display: none;
}

.tips--moderation-navigation {
    border-bottom: 1px solid;
}

.tips--moderation-navigation--items {
  list-style: none;
  text-align: right;
  font-size: 80%;
}

.safety {
  display: none;
}
.resources {
  display: none;
}
.misc {
  display: none;
}

.tip-table-header {
  display: inline-block;
  margin: 0;
  margin-top: 1rem;
}

.tip-dropdown {
  width: 100%; 
  border-bottom: 1px solid black;
  //color: $brand-primary;
}

.tip-blurb {
  width: 100%;
  h1 {
    margin: 0;
  }
}

#tip-bottom {
  height: 1rem;
}