@import "variables";
@import "thredded-variables";
@import "thredded";

.thredded--main-container {
  // The padding and max-width are handled by the app's container.
  max-width: none;
  padding: 0;
  @include thredded-media-tablet-and-up {
    padding: 0;
  }
}

.thredded--currently-online {
  display: none;
}

.thredded--post--avatar {
  display: none;
}

.tips--moderation-navigation {
    border-bottom: 1px solid;
}

.tips--moderation-navigation--items {
  list-style: none;
  text-align: right;
  font-size: 80%;
}

.tip-table {
  width: 90%;
   td {
     border: none
     
   }
}

.tip-minimize-window {
  display: none;
}

.tip-detail-minimize-window {
  display: none;
}

.tip-table-header {
  display: inline-block;
  margin: 0;
  margin-top: 1rem;
  i:hover {
    cursor: pointer;
  }
}

.tip-detail-header {
  display: inline-block;
  margin: 0;
  margin-top: 1rem;
  font-size: 110%;
  color: $brand-primary;
  i:hover {
    cursor: pointer;
  }
}

.tip-individual-header {
  display: inline-block;
  margin: 0;
  margin-top: 1rem;
  font-size: 80%;
  color: $brand-primary;
  i:hover {
    cursor: pointer;
  }
}

.tip-detail-list {
  list-style: none;
  margin: 0;
  li {
    border-bottom: 1px solid;
  }
}

.tip-individual-list {
  display: none;
  list-style: none;
  margin: 0;
  font-size: 70%;
  li {
    border-bottom: 1px solid;
  }
}

.tip-dropdown {
  width: 100%; 
  border-bottom: 1px solid;
  //color: $brand-primary;
}

.tip-dropdown-button {
  display:inline-block; 
  float:right;
}

.tip-detail-dropdown-button {
  display:inline-block; 
  float:right;
}

.tip-blurb {
  width: 100%;
  h1 {
    margin: 0;
  }
}

#tip-bottom {
  height: 1rem;
}

