$body-background-color: #D0ECE7  !default;
$background-color: #A2D9CE !default;
$brand-primary: #73C6B6  !default;
$light-gray: #000000 !default;
$text-color: rgba(black, 0.75) !default;
$secondary-text-color: rgba(opacify($text-color, 1), 0.54) !default;
$secondary-nav-color: $secondary-text-color !default;
$base-font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Raleway", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, serif !default;
$base-font-size: 1rem !default;
$base-line-height: 1.5 !default;
$grid-container-max-width: 45rem !default;
$action-color: $brand-primary !default;
$action-hover-color: darken($brand-primary, 15%) !default;
$button-color: #fff !default;
$button-background: $action-color !default;
$button-hover-background: darken($brand-primary, 15%) !default;
$badge-active-background: $action-color !default;
