$body-background-color: #DCE1DE  !default;
$background-color: white !default;
$brand-primary: #49A078  !default;
$light-gray: #000000 !default;
$text-color: rgba(black, 0.75) !default;
$secondary-text-color: rgba(opacify($text-color, 1), 0.54) !default;
$secondary-nav-color: $secondary-text-color !default;
$base-font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Raleway", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, serif !default;
$base-font-size: 1rem !default;
$base-line-height: 1.5 !default;
$grid-container-max-width: 45rem !default;
$action-color: $brand-primary !default;
$action-hover-color: $body-background-color !default;
$button-color: #effffb !default;
$button-background: $action-color !default;
$button-hover-background: darken($brand-primary, 15%) !default;
$badge-active-background: $action-color !default;
$home-button: #effffb !default;
$banner-color: #18191D !default;
$secondary-banner-color: $brand-primary !default;
$menu-hover-color: lighten($banner-color, 15%) !default;