<h1>Tips</h1>

<table>
    <thead>
        <th width=110rem>Title</th>
        <th>Advice</th>
        <th width=70rem>Subject</th>
    </thead>
    <tbody>
<% @tips.each do |tip| %>
    <tr>
        <td><%= tip.title %></td>
        <td><%= tip.body %></td>
        <td><%= tip.subject %></td>
    </tr>
<% end %>
    </tbody>
</table>
